<h1>Curleys: [{{iteration}}]</h1>

<button onclick={{action 'toggle'}}>
  {{if isRunning 'Stop' 'Start'}}
</button>

{{#if showComponents}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}

  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
  {{template-and-component/simple-grandparent}}
{{/if}}